name: Server CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/server-app:${{ github.sha }} .

      - name: Push Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/server-app:${{ github.sha }}

      - name: Update docker-compose image
        run: |
          sed -i "s|server-app:.*|server-app:${{ github.sha }}|" docker-compose.yml

      - name: Deploy
        run: |
          docker-compose pull
          docker-compose down
          docker-compose up -d
